*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.menu-container{
    height: 3rem;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    gap: 1rem;
    padding-left: 0.5rem;
    align-content: flex-end;
    align-items: center;
}
.menu-container *{
    border: 1px solid;
    height: 60%;
}
.font-size{
    width: 5%;
}
.font-family{
    width: 21%;
}
.bui-container{
    width: 21%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bui-container >*{
    width: 30%;
    height: 80%;
    text-align: center;
}
.align-container{
    display: flex;
    width: 14%;
    justify-content: space-evenly;
    align-items: center;
}
.color-container{
    min-width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color-container .*{
    width: 35%;
    height: 80%;
}
.nos-container{
    min-width: 10%;
    justify-content: space-evenly;
}
.nos-container >*{
    
    border: none;
}
.formula-container{
    display: flex;
    height: 2rem;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    align-items: center;
    justify-content: space-around;
}
.formula-container >*{
    height: 70%;
}
.address-input{
    
    width: 4rem;
}
.formula-input{
    width: calc(100vw - 6rem);
}



.grid-container{
    border: 1px solid rgb(169, 184, 224);
    height: calc(100vh - (3rem + 2rem + 2rem));
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    overflow: auto;
    position: relative;
    
}
.sheets-container{
    height: 2rem;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
}
.add-sheet_btn-container{
    height: 100%;
    width: 3rem;
    border: 1px solid;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
}
.sheets-list{
    width: calc(100vw - 3rem);
    border: 1px solid;
    display: flex;
}
.sheet{
    width: 5rem;
    border: 1px solid grey;
    height: 100%;
}

.sheets-list::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .sheets-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.active{
    background-color: white;
}
.active-btn{
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}



.box{
    height: 2rem;
    width: 4rem;
    border: 1px solid;
    text-align: center;
}
.left_box{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.top_row{
    position: absolute;
    left: 4rem;
    top: 0rem;
    height: 2rem;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    display: flex;
}
.grid{
    position: absolute;
    top: 2rem;
    left: 4rem;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
.cell{
    height: 2rem;
    border:1px solid;
    width: 4rem;
    text-align: center;
}
.row{
    display: flex;
    height: 2rem;
}


